* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#particles.js {
    /* width: 100%;
     height: 100vh; */
    /* background-image: url("img.jpg"); */
    font-weight: 80px;
}

#hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}